[submodule "awake-backend-vulkan/ios-native/MoltenVK"]
	path = awake/backend/vulkan/ios-native/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK.git
[submodule "awake/backend/jolt/ios-native/JoltC"]
	path = awake/backend/jolt/ios-native/JoltC
	url = https://github.com/SecondHalfGames/JoltC.git
